<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlpracticeconn" connectionString="user id=sa;password=Dotnet@123;data source=DESKTOP-07HGAQG\GIRISH;initial catalog=sqlpractice" providerName="System.Data.SqlClient" />
  <add name="sqlpracticeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-07HGAQG\GIRISH;initial catalog=sqlpractice;persist security info=True;user id=sa;password=Dotnet@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>